body {
    background-color: black;
    color: rgb(255, 255, 255);
}

.main1 {
    display: inline;
    font-size: 50px;
    
}
.bar {
    display: inline;
    font-size: 50px;
    color: purple;
    /*position: inherit;*/
}
.bar1,.bar2,.bar3 {
    display: flexbox;
    color: purple;
    margin-left: 93px;
}
.bar1 {
    margin-top: -50px;
}
.bar2 {
    margin-top: -20px;
}
.bar3 {
    margin-top: -20px;
}
ul  li{
    list-style-type: none;
    display: inline;
     
}
ul {
margin-left: 19%;
margin-top: -50px;
}
li a {
    text-decoration: none;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    display: flexbox;
    padding: 4px 15px 4px 15px;
    color: rgb(158, 158, 158);
}

li a:hover {
    font-weight: bolder;
    color: white;
    transition: 0.30s;
}
.button:hover {
    background-color: aqua;
    color: black;
    transition: 0.4s;
}
.button {
    color: azure;
    padding: 0 2px 0 2px;
    display: block;
    margin-left: 85%;
    font-size: 20px;
    padding: 5px;
    margin-top: -50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    border-radius: 20px;
    background-color: rgba(7, 182, 182, 0.795);
    
}