body {
    background-color: black;
    color: rgb(255, 255, 255);
}
.main1 {
    display: inline;
    font-size: 50px;
    position: ;
}
.bar {
    display: inline;
    font-size: 50px;
    color: purple;
    /*position: inherit;*/
}
.bar1,.bar2,.bar3 {
    display: inline-flex;
    color: purple;
}
