* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 20px;
}
body {
    background-color: black;
}
/*This is for the entire lists */
ul li a {
    text-decoration: none;
    list-style-type: none;
}
.aboveHeader {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.title {
    display: inline-block;
    margin: 30px  30px 0px 30px;
}
._work {
    color: darkmagenta;
}
.ndaboveHeader {
    background-color: black;
    border: 0.5px solid white;
    color: white;
    height:110px;   
    position: sticky;
    top: 0;
}
.underScore {
    color: blue;
}
.navigation li {
    display:inline-block
}
.navigation li a {
    color: #6e6e6e;
    text-decoration: none;
    list-style-type: none;
    padding: 5px 10px 5px 10px;
}
.navigation li a:hover {
    background-color: yellow;
    transition: 0.5s;
    border-radius: 4px;
    color: black;
}
.navigation {
    margin-left: 200px;
    margin-top: -30px;
}
sup {
    background-color: blue;
    color: white;
    border-radius: 5px;
    font-size: 10px;
    padding: 2px;
}
.last_navigation {
    display: flexbox;
    float: right;
    margin-top: -30px;
    color: #6e6e6e;
}
.belowHeader {
    border-top: 1px solid white;
    margin-top: 30px;
    background-color: #6e6e6e;
    font-size: 25px;
    height: 31.9px;
}
.text {
    background-color: black;
    border-radius: 20px;
    width: 90px;
}
.text:hover {
    width: 180px;
    transition: 0.5s;
    color: #fff;
    padding: 3px 3px 0px 3px;
    border-color: yellow;
}
.signup {
    border: 1 px solid black;
    border-radius: 10px;
    padding: 2px 3px 2px 3px;
    font-size: medium;
}
.navigation_2 li {
    display: inline-block;
    margin: 0 20px 0 0;
}
.navigation_2 li a {
    color: #333;
    text-decoration: none;
    list-style-type: none;
    padding: 5px 10px 5px 10px;
}
/*Coming to do the pop up for the navigations*/
.ref_nav {   
   display:none;
   margin-top: 10px;
    height: 600px;
    overflow: auto;
    width: 350px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
}
.ref_nav li {
    margin: 10px;
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
}
.ref_nav li a {
    color: white;
    display: inline-block;
}
.try {
    position: relative;
}
.try:hover .ref_nav {
    display: block;
    transition: 0.2s;
}
.ref_nav li a:hover {
    background-color:rgb(73, 66, 66);
    color: white;
    opacity: 90%;
}
.list1 a {
border-left: 3px solid violet;
}
.list2 a {
border-left: 3px solid blue;
}
.list3 a {
border-left: 3px solid yellow;
}
.list4 a {
border-left: 3px solid green;
}
.list5 a {
border-left: 3px solid purple;
}
.list6 a {
border-left: 3px solid rgb(255, 255, 255);
}
.list7 a {
    border-left: 3px solid whitesmoke;
}
/*The second drop down*/
.ref_nav1 {   
   display:none;
   overflow: auto;
   margin-top: 10px;
    height: 565px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
}
.ref_nav1 li {
    margin: 10px;
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
}
.ref_nav1 li a {
    color: white;
    display: inline-block;
}
.try1 {
    position: relative;
}
.try1:hover .ref_nav1 {
    display: block;
    transition: 0.2s;
}
.ref_nav1 li a:hover {
    background-color:rgb(73, 66, 66);
    color: white;
    opacity: 90%;
}
.list11 a {
border-left: 3px solid purple;
}
.list22 a {
border-left: 3px solid purple;
}
.list33 a {
border-left: 3px solid blue;
}
.list44 a {
border-left: 3px solid yellow;
}
.list55 a {
border-left: 3px solid white;
}
/*The Third drop down*/
.ref_nav2 {   
    display:none;
    margin-top: 10px;
     height: 520px;
     overflow: auto;
     width: 350px;
     background-color: black;
     border-radius: 10px;
     position: absolute;
     z-index: 1;
     box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
 }
 .ref_nav2 li {
     margin: 10px;
     padding: 10px 5px 10px 5px;
     border-radius: 10px;
 }
 .ref_nav2 li a {
     color: white;
     display: inline-block;
 }
 .try2 {
     position: relative;
 }
 .try2:hover .ref_nav2 {
     display: block;
     transition: 0.2s;
 }
 .ref_nav2 li a:hover {
     background-color:rgb(73, 66, 66);
     color: white;
     opacity: 90%;
 }
 .li11 a {
 border-left: 3px solid purple;
 }
 .li22 a {
 border-left: 3px solid purple;
 }
 .li33 a {
 border-left: 3px solid purple;
 }
 .li44 a {
 border-left: 3px solid purple;
 }
 .li55 a {
 border-left: 3px solid purple;
 }
/*Fourth Drop Down*/
 .ref_nav3 {
    display:none;
    margin-top: 10px;
     height: 300px;
     overflow: auto;
     width: 350px;
     background-color: black;
     border-radius: 10px;
     position: absolute;
     z-index: 1;
     box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
 }
 .ref_nav3 li {
     margin: 10px;
     padding: 10px 5px 10px 5px;
     border-radius: 10px;
 }
 .ref_nav3 li a {
     color: white;
     display: inline-block;
 }
 .try3 {
     position: relative;
 }
 .try3:hover .ref_nav3 {
     display: block;
 }
 .ref_nav3 li a:hover {
     background-color:rgb(73, 66, 66);
     color: white;
     opacity: 90%;
 }
 .li1 a {
 border-left: 3px solid whitesmoke;
 }
 .li2 a {
 border-left: 3px solid whitesmoke;
 }
 .li3 a {
 border-left: 3px solid whitesmoke;
 }
 .English {
    float: right;
    margin-top: -21px;
 }
 .left-section {
    background-color: black;
    width: 25%;
    height: 100%;
 }
 .middle_part {
    margin-left: 25%;
    margin-top: -21%;
    width: 60%;
    background-color: black;
    color: #fff;
 }
 .right_side {
    float: right;
    margin-top: -30%;
    color: #fff;
    width: 15%;
 }
 .navigation_2 li:hover {
    text-decoration: underline;
 }
 .search {
    margin:10px 0px 0px 20px;
    background-color: black;
    border-radius: 10px;
    width: 100px;
    padding: 5px 1px 4px 5px;
    color: #fff;
 }
 .search:hover {
    width: 70%;
    border-color: yellow;
 }