* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #333;
}
.aboveHeader 
{
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
._work {
    color: violet;
}
.ndaboveHeader {
color: white;
border: 0.5px solid white;
}
.title { 
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.underScore {
    color: blue;
}
li a {
    text-decoration: none;

}
.title {
    display: inline;
}
.underScore {
    display: inline;
}
.navigation li {
display: inline;
}
.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}
.last_navigation {
    float: right;
}
.belowHeader {
    color: #333;
    border: 1px solid white;
}
.belowHeader > ul li {
    display: inline;
}
.belowHeader > ul li a {
    color: #333;
}